/*
 Theme Name: TEM VENDA Child
 Theme URI: https://temvenda.com.br
 Description: Child theme com landing page em Tailwind para o TEM VENDA.
 Author: Cesar A. Klaumann
 Author URI: https://temvenda.com.br
 Template: twentytwentyfour
 Version: 1.0.0
 License: GNU General Public License v2 or later
 License URI: https://www.gnu.org/licenses/gpl-2.0.html
 Text Domain: temvenda-child
